mat-toolbar {
    margin-bottom: 1.25rem;
}

mat-toolbar > span {
    margin-left: 0.625rem;
}

.content_wrapper {
    margin: auto;
}
.container_wrapper {
    display: flex;
    gap: 0.5rem;
}

.container {
    &.done {
        color: green;
        ::ng-deep app-task {
            .mat-card {
                background: green;
                color: #fff;
                .title {
                    color: white;
                }
                
            }
        }
    }
}
.list {
    border: solid 1px #ccc;
    min-height: 3.125rem;
    border-radius: 0.25rem;
}

app-new-task {
    margin-bottom: 30px;
    height: max-content;
}

.empty_label {
    padding-top: 0.625rem;
    text-align: center;
    opacity: 0.2;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms;
}
